/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /*цвета*/
  --cover-image: url(../images/cover-image-dark.png);
  --color-header-title: #DB00FF;
  --color-section-title: #FF0070;
  --color-card-title: #000028;
  --color-accent: #FF0070;
  --color-nav: #FF0070;
  --color-nav-hover: rgba(255, 0, 112, 0.4);
  --color-main: #F1B2CE;
  --color-background: #000028;

  /*шрифты*/
  --font-main: 'IBM Plex mono';
  --font-size: 18px;
  --font-size-title-m: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-l: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  /*отступы*/
  --page-m: 10px;
  --page-l: 20px;
  --menu-m: 65.5px;
  --menu-l: 172.5px;
  --header-paragraph-m: 56px;
  --header-paragraph-t: 163px;
  --header-paragraph-l: 115px;
  --content-m: 50px;
  --content-l: 80px;
  --card-list: 20px;
  --card-item-m: 10px;
  --card-item-l: 20px;
  --footer-m: 30px;
  --footer-l: 40px;
}